{%extends "sitemail/sitemail_base.html"%}
{%block title%}收件箱{%endblock%}

{%block box%}
<h3>收件箱</h3>
{%if current_user.get_inbox%}
<table class="table table-hover">
	<thead>
		<tr>
			<td>标题</td>
			<td>发件人</td>
			<td>时间</td>
		</tr>
	</thead>
	<tbody>
		{%for mail in current_user.get_inbox%}
		<tr>
			<td><a title="{{mail.title}}" href="/sitemail/{{mail.url_number}}/">{{mail.title}}</a></td>
			{%for creator in mail.creator%}
				{%if forloop.first%}
					<td><a href="/people/{{creator.user.url_number}}/">{{creator.user.public_profile.realname}}</a></td>
				{%endif%}
			{%endfor%}
			<td><small>{{mail.creat_time|date:"Y-m-d H:i:s"}}</small></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{%else%}
<h2>无</h2>
{%endif%}
{%endblock%}
