{%extends "corporation/corporation_base.html"%}
{%block leftspan6%}

<div class="row-fluid">
	<div class="span2">
	<a class="pull-left" href="/corporation/{{activity.creator.corporation.url_number}}/"> <img class="img-polaroid span10" src="{{activity.creator.corporation.logo}}"></a>
	</div>
	<div class="span10 removemarginleft" id="handle_topic">
		<h3 class="media-heading">{{activity.name}}
		</h3>
		<a href="/corporation/{{activity.creator.corporation.url_number}}/">{{activity.creator.corporation.name}}</a>	
		<p>开始时间：{{activity.start_time}}</p>
		<p>结束时间：{{activity.finish_time}}</P>
		<p>活动地点：{{activity.place}}</p>
		<p class="text-right">
		
		</p>
	</div>
</div>

<div class="row-fluid">
	{%for reply in activity.get_reply%}
	<div class="row-fluid">
		<hr>
		<a href="/people/{{reply.creator.user.url_number}}/"><div class="span2"><img class="img-polaroid offset2 span8" src="{{reply.creator.user.public_profile.face}}"></div></a>
		<div class="media-body span10 removemarginleft">
			<a class="media-heading" href="/people/{{reply.creator.user.url_number}}/">{{reply.creator.user.public_profile.realname}}</a>
			<span class="muted" style="float: right;height: 16px;"><small>{{reply.creat_time|date:"Y-m-d H:i:s"}}</small></span>
			<p>{{reply.content|linebreaksbr}}</p>
		</div>
	</div>
	{%endfor%}
	
</div>
<div class="row-fluid">
	<hr>
</div>


<div class="row-fluid">
	
	<div class="span12" id="reply">
			<a href="/people/{{current_user.url_number}}/"><div class="span2"><img class="img-polaroid offset2 span8" src="{{current_user.public_profile.face}}"></div></a>
			<form method="post" class="span8 removemarginleft">
				{% csrf_token %}
				<label for="id_content">回应:</label>
				<textarea id="id_content" rows="10" cols="40" name="content" class="span12" style="height: 100px;resize:none"></textarea>
				<button type="submit" class="btn btn-primary pull-right">发布</button>
				<input type="hidden" name="reply" />
			</form>
	</div>
	
</div>

{%endblock%}
{%block otherbody%}
<div id="myModifyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">修改话题</h3>
	</div>
	<div class="modal-body" style="
	margin-left: 120px;">
		<form class="span3" method="post">
			{% csrf_token %}
			<p><label for="id_title">标题:</label><span class="input uneditable-input">{{topic.title}}</span></p>
			<p><label for="id_content">内容:</label> <textarea id="id_content" rows="10" cols="40" name="content">{{topic.content}}</textarea></p>
			<button class="btn btn-primary" type="submit">
				确定
			</button>
			<input type="hidden" name="modify"/>
		</form>
	</div>
</div>
{%endblock%}
{%block otherscript%}
<script type="text/javascript" src="{{STATIC_URL}}js/csrf.js"></script>

{%endblock%}
